.custom-navbar a, .custom-navbar a:focus, .custom-navbar .dropdown > span {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
}

.custom-navbar .dropdown > span a {
    padding: 10px 0 10px 0;
}

.custom-navbar .login-button a {
    display: inline-block;
}

.custom-navbar a, .custom-navbar .dropdown > span, .dropdown ul .logout-button, #navbar-drawer .logout-button,
.username-btn, .delete-user-form span {
    font-size: 20px;
    color: var(--color-white);
    cursor: pointer;
}

.custom-navbar a:hover, .custom-navbar span:hover, .custom-navbar .active, .custom-navbar .active:focus,
.custom-navbar li:hover > a, .custom-navbar .dropdown ul a:hover, .custom-navbar .dropdown ul .active:hover,
.custom-navbar .dropdown ul li:hover > a, .custom-navbar form span.logout-button:hover,
.custom-navbar #open-navbar-drawer-btn:hover, .custom-navbar div span .username-btn:hover,
.delete-user-form span:hover, #navbar-drawer span:hover, #sidebar-drawer a:hover {
    color: var(--color-black);
}

#navbar-content {
    display: flex;
    justify-content: center;
}

.custom-navbar .dropdown ul {
    background: var(--color-lite-blue);
}

.custom-navbar .dropdown {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-navbar div.dropdown ul {
    left: 0;
}

.custom-navbar .dropdown ul a, .custom-navbar .dropdown ul span {
    font-size: 18px;
}

.custom-navbar div.dropdown ul .delete-user-form {
    padding: 10px 20px;
    text-align: left;
}

#user-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#user-actions a {
    white-space: normal;
    text-align: left;
}

#sidebar {
    background-image: linear-gradient(var(--color-lite-blue), var(--color-lite-yellow));
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #fcfcfc;
    font-size: 20px;
    padding-left: 15px;
}

#sidebar h2, #sidebar-drawer h2 {
    font-size: 24px;
    font-weight: 300;
}

#navbar-drawer, #sidebar-drawer {
    position: absolute;
    inset: 155px 35px 35px 35px;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: var(--color-lite-blue);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    font-size: 20px;
    color: var(--color-white);
    list-style-type: none;
}

#sidebar-drawer {
    position: fixed;
    inset: 0;
    width: 60%;
    opacity: 0.95;
    border-radius: 0;
}

#navbar-drawer li, #sidebar-drawer li {
    padding: 10px 20px;
}

#open-navbar-drawer-btn {
    display: none;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    color: var(--color-white);
}

#close-navbar-drawer-btn, #close-sidebar-drawer-btn {
    display: inline-block;
    color: var(--color-white);
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    line-height: 0;
    top: 5px;
    right: 5px;
}

.scroll-top, #open-sidebar-drawer-btn {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

#open-sidebar-drawer-btn {
    left: 15px;
    bottom: 15px;
    cursor: pointer;
}

.scroll-top i, #open-sidebar-drawer-btn i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.scroll-top:hover, #open-sidebar-drawer-btn:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
    color: #fff;
}

.scroll-top.active, #open-sidebar-drawer-btn.active {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 1200px) {
    .custom-navbar {
        display: flex !important;
    }

    .username {
        text-align: center;
    }

    .username .username-btn:active {
        pointer-events: none;
    }

    .login-button {
        text-align: center;
    }

    #navbar-drawer {
        display: none;
    }

    #sidebar {
        display: block;
    }
}

@media (max-width: 1200px) {
    .custom-navbar {
        padding: 0;
    }

    .custom-navbar .username > span {
        display: flex;
        justify-content: end;
    }

    .username {
        pointer-events: none;
    }

    .username-btn {
        pointer-events: all;
    }

    .login-button {
        text-align: end;
    }

    #navbar-content {
        display: none;
    }

    #user-actions {
        display: none;
    }

    #sidebar {
        display: none;
    }

    #open-navbar-drawer-btn {
        display: block;
    }

    #navbar-drawer .dropdown ul, #navbar-drawer .dropdown .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background: var(--color-lite-blue);
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 30px rgba(var(--color-white-rgb), 0.5);
        border-radius: 10px;
    }

    #navbar-drawer .dropdown > span {
        cursor: pointer;
    }

    #navbar-drawer .dropdown > .dropdown-active, #navbar-drawer .dropdown .dropdown > .dropdown-active {
        display: block;
    }
}
