.rounded-top {
    border-radius: 0.375rem 0.375rem 0 0;
}

.rounded-bottom {
    border-radius: 0 0 0.375rem 0.375rem;
}

#main {
    margin-top: 0;
    padding: 0 5%;
    flex-grow: 1;
    background-color: #fcfcfc;
}

textarea {
    resize: none;
}

a.disabled {
    pointer-events: none;
}

section {
    scroll-margin-top: 0;
}

.custom-header {
    position: relative;
    height: 200px;
    background: var(--color-lite-yellow);
}

.custom-header .logo img {
    max-height: 100px;
}

.custom-header .logo h1 {
    margin: 0;
}

.logo-container {
    height: 150px;
}

.custom-header .navbar-container {
    background: var(--color-lite-blue);
}

.custom-footer {
    font-size: 20px;
    color: var(--color-black);
}

.custom-footer .footer-legal {
    background: var(--color-lite-yellow);
    padding: 20px;
}

.custom-footer .footer-legal .social-links a {
    background-color: rgba(var(--color-blue-rgb), 0.2);
    color: var(--color-black);
}

.custom-footer .footer-legal .social-links a:hover {
    background-color: rgba(var(--color-blue-rgb), 0.4);
}

.sorry-content {
    font-size: 30px;
}

.sorry-emoji {
    font-size: 150px;
}

.custom-img-bg {
    height: 600px;
    background-position: center top;
    pointer-events: none;
    font-size: 30px;
}

.achievements-container {
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
}

.achievements-container strong {
    color: var(--color-lite-blue);
    font-weight: normal;
}

.building-achievements {
    background: #4F81BD;
    border: 1px solid #324cb4;
}

.education-achievements {
    background: #ffdb66;
    border: 1px solid #d7b000;
}

.other-achievements {
    background: #E6B9B8;
    border: 1px solid #ee5655;
}

.history-container {
    font-size: 20px;
}

.history-container p {
    text-indent: 30px;
    margin-bottom: 0;
}

.history-container img {
    margin-right: 20px;
    max-height: 400px;
}

.history-container article img {
    float: left;
}

.form, .form .input-field {
    font-size: 20px;
}

.form .sb-btn {
    font-size: 15px;
    background: var(--color-lite-blue);
}

#login-content .user-instruction p {
    font-size: 22px;
    text-indent: 30px;
}

.contact-info p {
    font-size: 22px;
}

#login-content .user-instruction h2, .contact-info h2 {
    font-size: 24px;
    font-weight: 500;
}

.user-list {
    font-size: 18px;
}

#add-parent-create-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-profile {
    font-size: 22px;
}

.author .empty-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 10px;
}

.author .empty-photo i {
    font-size: 30px;
}

.new-line {
    display: none;
}

@media (min-width: 993px) {
    #feedback-form-modal-window {
        inset:  25% 25% 15%;
        height: 60%;
        width: 50%;
    }
}

@media (max-width: 992px) {
    .custom-pagination a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 2px;
    }

    #feedback-form-modal-window {
        inset:  25% 10% 15%;
        height: 60%;
        width: 80%;
    }
}

@media (max-width: 768px) {
    #we-patriotic .custom-img-bg {
        background-position-y: top;
        background-position-x: 12.5%;
    }

    .new-line {
        display: block;
    }

    #feedback-form-modal-window {
        inset: 25% 5% 15%;
        height: 60%;
        width: 90%;
    }
}

@media (max-width: 576px) {
    .logo-container a h1 {
        display: none;
    }

    #footer img {
        display: none;
    }

    #feedback-form-modal-window {
        inset: 25% 5% 15%;
        height: 60%;
        width: 90%;
    }
}

#search input::-webkit-search-cancel-button {
    font-size: 26px;
}

#map {
    height: 350px;
}

.post {
    font-size: 20px;
}

.post .dates, #subject-hours {
    font-size: 22px;
}

.post h1 {
    font-size: 25px;
    font-weight: bold;
}

.post .event-menu a:hover, .news-menu a:hover {
    color: var(--color-white);
    text-decoration: none;
}

.subjects-list, .journals-subjects-pages-list {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 1px solid #dee2e6;
}

.subjects-list ul, .journals-subjects-pages-list ul {
    list-style: square;
    color: var(--color-lite-blue);
}

.subjects-list h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

.employee-card {
    text-align: center;
}

.employee-card h2 {
    font-size: 24px;
}

.employee-card h3 {
    font-size: 18px;
}

.employee-card-image-container {
    width: 100%;
    aspect-ratio: 3.5 / 4.5;
    border: 1px solid black;
}

.user-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    aspect-ratio: 3.5 / 4.5;
    border: 1px solid black;
    margin: 15px 20px 0 0;
}

.school-class-selection-form label, .school-class-selection-form select,
.journal-selection-form label, .journal-selection-form select {
    font-size: 22px;
}

.head-teacher-card > div {
    width: 70%;
    height: fit-content;
}

.school-class-container {
    font-size: 20px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.students-container td, .journal-subjects-table td, .schedule-creation-table td{
    padding: 0;
}

.journal-subjects-table input[type="checkbox"], .schedule-creation-table input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.journal-subjects-table .is-group-column, .journal-subjects-table .subject-column {
    width: 20%;
}

.diagonal-cell {
    background: linear-gradient(to bottom left, transparent calc(50% - 1px), black, transparent calc(50% + 1px)), white;
    width: 300px;
    height: 160px;
    padding: 4px !important;
}

.diagonal-cell span:nth-child(1) {
    padding-left: 35%;
    height: 90px;
    width: 290px;
    display: block;
}

.diagonal-cell span:nth-child(2) {
    padding-right: 35%;
    height: 60px;
    width: 290px;
    display: block;
}

.td-with-input input, .td-with-input textarea {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    font-size: 20px;
    border: none;
}

.td-with-input textarea {
    top: 4px;
    position: relative;
}

.journal-sequence-number-cell {
    width: 50px;
}

.journal-lesson-cell {
    width: 44px;
    padding: 1px !important;
}

.fixed-layout-table {
    table-layout: fixed;
}

.journal-lesson-cell input {
    transform: translate(-59px, 0px) rotate(90deg);
    width: 158px;
    height: 41px;
}

.journal-subject-mark-attendance-cell {
    padding: 0 !important;
}

.journal-subject-marks-attendance-tr th, .journal-subject-marks-attendance-tr td {
    height: 44px;
    padding: 1px !important;
}

.journal-subject-theme-homework-tr th, .journal-subject-theme-homework-tr td {
    height: 100px;
    padding: 1px !important;
}

.journal-subject-tab-title:hover {
    cursor: pointer;
}

.lesson-theme-td, .lesson-homework-td {
    min-width: 300px;
}

.schedule-creation-table .time-slot-column {
    width: 18%;
}

.schedule-creation-table .is-group-column {
    width: 12%;
}

.time-slot-column {
    width: 100px;
}

.mark-attendance-column {
    width: 120px;
}

.diary-homework-column, .diary-homework-column {
    width: 35%;
}

.diary-subject-column {
    width: 15%;
}

.open-feedback-form-btn {
    cursor: pointer;
}

#feedback-form-modal-window {
    position: fixed;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: var(--color-lite-blue);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    font-size: 20px;
    color: var(--color-black);
    list-style-type: none;
}

#close-feedback-form-btn {
    display: inline-block;
    color: var(--color-white);
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    line-height: 0;
    top: 5px;
    right: 5px;
    width: 50px;
    text-align: end;
}
